.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 70px 0 26px;

  background-color: var(--black);
}


.footer__content{
display: flex;
justify-content: space-around;
gap: 180px;
}

.footer__information {
  display: flex;
  flex-direction: column;

  gap: 60px;
}

.footer__information-svg {
  width: 32px;
  height: 32px;
}

.footer__information-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: var(--footer__text);
}

.footer__link{
   display: flex;
   flex-direction: column;
   align-items: center;

   gap: 56px;
}

.footer__link-site{
   display: flex;
   gap: 46px;
}

.footer__link-color{
   text-decoration: none;
   color: var(--white);
}

.footer__link-network{
   display: flex;
   justify-items: end;

   padding-left: 160px;
   gap: 16px;
}
